github "attaswift/BigInt" "v4.0.0"
github "daltoniam/Starscream" "3.1.1"
github "krzyzanowskim/CryptoSwift" "1.3.0"
github "matter-labs/web3swift" "1070351d621dca1dc344005a192837e6bbf458b7"
github "mxcl/PromiseKit" "6.13.1"
